


// .banner {
//   height: 100vh;
//   background-color: #0F2C49;
// }

.title-about {
  box-sizing: border-box;
  background-color: #31B982;
  padding: 5rem var(--padding);
  text-transform: capitalize;
  color: #fff;
  margin-top: 90px;

  h2 {
    font-size: clamp(1.2rem, 3.5vw, 2rem);
  }
}
[data-aos^=fade][data-aos^=fade]{
  opacity: 1!important;
  transform: translate3d(0, 0px, 0)!important;
}


.product {

  padding-inline: var(--padding);



  .swipe-container {
    width: calc(100% / var(--padding));
    margin: 0 auto;
    position: relative;

    .swiper-pagination {
      position: absolute;
      top: 105%;
      left: 50%;
      transform: translateX(-50%);
      height: 30px;
    }


    .swiper-slide {
      aspect-ratio: 1 / 1;
      border-radius: 5px;
      background-image: url("../slider-bg.png");
      background-size: cover;
      background-position: center center;
      position: relative;
      --margin: clamp(15px, 2vw, 30px);


      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #0006;
        z-index: -1;
        border-radius: 5px;
      }

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 5px;
      }

        .info {
          width: 60%;
          height: 85%;
          padding: 30px 0 30px 25px;
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: end;
          --resp: 0vw;


          @media screen and (max-width: 1200px) {
            --resp: 2vw;
          }

          @media screen and (max-width: 600px) {
            --resp: 4vw;
          }

          .videoBx iframe{
            width: 100%!important;
          }

          h3 {
            font-size: 1.8rem;
            text-transform: capitalize;
          }

          p {
            margin-top: 15px;
            font-size: 1rem;

            @media screen and (max-width: 1200px) {
              font-size: 0.93rem;
            }
          }

          a {
            margin-top: 25px;
            color: #000;
            text-decoration: none;
            background-color: #fff;
            font-size: .9rem;
            padding: .7em 1em;
            outline: none;
            border: none;
            border-radius: 3px;
            justify-self: flex-end;
          }
        }
      }

      .swiper-button {
        position: absolute;
        top: 50%;
        height: 50px;
        width: 50px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 5px 15px #0004;
        z-index: 2;
        display: grid;
        place-items: center;

        &.prev {
          left: 0;
          transform: translate(-50%, -50%);
        }

        &.next {
          right: 0;
          transform: translate(50%, -50%);
        }
      }

    }

    hr {
      margin-top: 50px;
    }
  }


.testimonial {
  padding-inline: var(--padding);
  padding-bottom: 70px;

  h2 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  }


  .swipe-container {
    width: calc(100% / var(--padding));
    margin: 0 auto;
    position: relative;

    .swiper-slide {
      padding: 50px 5px 5px;

      .box {
        box-shadow: 0 7px 15px #0004;
        border-radius: 5px;
        position: relative;
        padding: 50px 30px 30px;

        .brand-logo {
          position: absolute;
          top: -30px;
          left: 30px;
          height: 60px;
          width: 60px;
          border-radius: 60px;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        p {
          color: #000;
          line-height: 1.1rem;
        }

        hr {
          margin: 10px 0;
          color: #F05223;
        }

        .rating {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .brand-name {
            font-weight: 400;
          }

          .stars {
            color: #F05223;
          }
        }
      }
    }


    .swiper-button {
      position: absolute;
      top: 50%;
      height: 50px;
      width: 50px;
      background-color: #fff;
      border-radius: 50px;
      box-shadow: 0 5px 15px #0004;
      z-index: 2;
      display: grid;
      place-items: center;

      &.prev {
        left: 0;
        transform: translate(-50%, -50%);
      }

      &.next {
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
}

.brands {
  padding-inline: var(--padding);
  padding-bottom: 90px;
  margin-top: 40px;


  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;

    hr {
      flex: 1;
    }
  }

  .brands-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 1.5rem;
  }
}


